@import "./../common/styles/sass/variables";
@import '../common/components/button/Button.module';

.hireBlock {
  padding: 100px 0;

  .HireContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
  }
  .hireBth {
    @extend .bth;
    align-self: center;
    background-color: transparent;
    margin-top: 30px;
    @media screen and (max-width: 680px) {
      width: 100%;
    }
  }
}




