@import "./../../common/styles/sass/variables";
@import "./../../common/styles/sass/mixins";

.skill {
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 205px 20px;


  .icon {
    position: relative;
    width: 100px;
    height: 100px;


    &::before {
      width: 150px;
      height: 150px;
      position: absolute;
      content: '';
      background-color: gray;
      top: 50%;
      left: 50%;
      bottom: 0;
      right: 0;
      opacity: 0.1;
      transform: translate(-50%, -50%) rotate(50deg);

    }

  }

  .descriptionContainer {
    margin: 35px;

    .title {
      display: flex;
      justify-content: center;
    }

    .description {
      @include text($TextFontFamily, 17px, 1.8, 400);
      font-weight: 400;
      display: flex;
      justify-content: center;
    }
  }
}


