@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.skillsBlock {
  padding: 100px 0;
  .skillsContainer {
    @include container();
    @include flex(column, center, stretch, nowrap);
  }

  .skills {
    @include flex(row, space-between, flex-start, wrap);
    @media screen and (max-width: 686px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;


    }
  }
}



